*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/* nav bar style */
#nav-bar{
  display: flex;
  width: 100%;
  height: 55px;
  background-color: #ff6900;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* gender element style */
#gender{
  width: 25%;
  height: 55px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul{
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  display: flex;
  cursor: pointer;
}

li{
  padding-left: 10px;
}

/* logo boolando */
#logo{
  width: 50%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img{
  width: 100px;
}